# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore


gulp/
node_modules/
src/
.babelrc
bower.json
browserconfig.xml
gulpfile-boilerplate.js
gulpfile.js
package-lock.json
.editorconfig
.gitattributes
.htaccess
404.html
humans.txt
robots.txt
LICENSE.txt
package.json
LoginPageTask/
desktop.ini
src/pug