* {
  box-sizing: border-box;
}

body {
  font-family: "open sans", helvetica, arial, sans;
  padding-bottom: 1em;
}
.logo{
  width: 100px;
}
.log-form {
  width: 100%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  margin-top:50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}
.log-form {
  padding: 2em;
  -webkit-box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  -moz-box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  z-index: -1
}

form {
  display: block;
  text-align: center;
  width: 100%;
}

.spacing{
  margin-top: 3em;
  padding-bottom: 2px;
  padding-top: 2px;
}
/* ====
====================WRITE YOUR CSS FROM HERE======================== */

/*..................................input-boxes-styling..................................*/

input[type="text"],input[type="password"],input[type="email"],input[type="tel"]
{border:none;
border-bottom:2px solid silver;
background:transparent;
outline:none;
height:30px;
color:black;
font-size:16px;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="tel"]:focus
{
   border: none;
   background:transparent;
   border-bottom: #2ecc71
}

.icon{
  position: absolute;
  left:0px;
  top:10px;
}



/*.......................................age-box-styling.......................................*/
.age,.text{
  opacity:0.8;
  position: absolute;
  left:40px;
  padding-bottom: 15px;
}
.age p{
  margin: 0;
  padding: 0;
}


/*......................................message-box-styling...................................*/

#message{
  width: 360px;
  border-bottom:2px solid silver;
  background:transparent;
}

/*.................................anchor-tag-at-submit-button-styling........................*/

.btn a{
  color:silver;
  text-decoration: none;
}
.btn a:hover{
  color:silver;
  text-decoration: none;

}


/*.........................................form-validation-styling...............................*/

#uservalidationmessage{
  margin:0;
  padding: 0;
  position: absolute;
  left:20px;
  top:30px;
}
#emailvalidationmessage{
  position: absolute;
  left:22px;
  top:30px;
}
#passwordvalidationmessage{
  position: absolute;
  left:22px;
  top:30px;
}
#cnfpasswordvalidationmessage{
  position: absolute;
  left:25px;
  top:30px;
}

#mbnumbervalidationmessage{
  position: absolute;
  left:15px;
  top:30px;
}
/*............................avatar-styling..........................*/
.avatar{
width:80px;
border-radius:50%;
top:-1%;
position:absolute;
left:calc(52% - 50px);
}


video::-webkit-media-controls {
    display:none !important;
}


/*...........................................whole-login-form-styling.............................*/
.log-form:before{
 content: " ";
 position: absolute;
 top: 0%;
 bottom: 0%;
 left: 0%;
 right: 0%;
 opacity: 0.9;
 z-index: -1;
 margin-top:50px;
 background: linear-gradient(55deg,rgb(82, 198, 216,0.89) 55%,#fff 20%);
}
.log-form{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 15px;
  background-color:#1F1A16;
  animation-name: form;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}
@keyframes form {
  0% {background-color: orange;}
  25%{background-color: brown;}
  50%{background-color: red;}
  75%{background-color: silver;}
  100%{background-color:black ;}
}
.log-form h2 {
  text-align: center;
  padding-top: 68px;
  color: #4390E8;
  text-shadow: rgba(255, 0, 0, 0.5);
}

form {
  text-align: left;
  margin-top: 5px;
  transition:0.5s;
  transition-timing-function: ease-in;
}
form:hover {
  transform: translatey(-30px);
  padding: 2em;
  box-shadow: 1px -1px 53px -10px  rgba(208, 230, 149, 0.3);
}

#myButton{

  border-radius:20px;
  opacity:1;
}

/*.................................logo-styling For mobile phones:................................*/

@media (min-width: 100px) {
  .logo{
    width:20%;
    position: fixed;
  margin: 2px;
  }
}

/*....................................background-styling............................................*/

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}


/*.........................................Social-icons-styling-starts..............................*/

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 10px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    transform: translate(100%, 10%);
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: black;
    transition: all 0.8s;
}
