doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title user-interface
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='x-ua-compatible' content='ie="edge" chrome=1')
    meta(name='description' content='a user interface website')
    meta(name='keywords' content='user-interface, simple website, html/css/javascript website')
    meta(name='author' content='Arhan Kamra')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    link(rel="stylesheet" href="src/css_helpers/imported-main.css")
    link(rel="stylesheet" href="css/css_helpers/normalize.css")
    meta(name="theme-color" content="#fafafa")
    - let attributes = { href: 'src/sass/css/main.compiled.css', rel: 'stylesheet' };
    link&attributes(attributes)
  body
    <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p><![end if]-->
    <!-- Add your site or application content here -->
    <noscript>Javascript should be enabled to access this page properly</noscript>







    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")