* {
  box-sizing: border-box;
}

body {
  font-family: "open sans", helvetica, arial, sans;
}
.logo{
  width: 100px;
}
.log-form {
  width: 100%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}
.log-form {
  padding: 2em;
  -webkit-box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  -moz-box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
  box-shadow: 4px -1px 53px -7px rgba(138, 138, 138, 0.30);
}

form {
  display: block;
  text-align: center;
  width: 100%;
}
/* ========================WRITE YOUR CSS FROM HERE======================== */