body {
  background-image: linear-gradient(to right,#7F7FD5,#86A8E7,#91EAE4);
}

.container{
  width:100%;
  height: 100%;
}
.card {
  width:45%;
  margin:auto;
  margin-top:10%;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.50), 0 17px 50px 0 rgba(0,0,0,0.50);
}
.card-img-top
{
  opacity: 0.5;
}

.card-title{
  font-size: 3vw;
  font-weight: 800;
  text-shadow: 5px 5px 8px black;
  font-family: American Typewriter, serif;
}

p{
  padding-top:3%;
  font-size: 1.5vw;
}

h6{
  font-size: 1.25vw;
  padding:3%;
}

.spinner-border{
  height: 4vw;
  width:4vw;
}
