
  input,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  button {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #4CAF50;
    color: white;
  }
  
body {
  font-family: "open sans", helvetica, arial, sans;
}
.logo{
  width: 150px;
   transform: translate(380%,50%) ;
}
.log-form {
  max-width: 695px;
  background: rgba(167, 121, 228, 0.5);
  position: absolute;
  max-height: 1100px;
  top: 80%;
  left: 45%;
  transform: translate(-30%, -30%);
}

h2 {
  text-align: center;
}

form {
    padding: 50px;
    font-size: large;
}


